
// Importing font
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;700;800&display=swap');

// Installing the font
*{font-family: 'Syne', sans-serif;}

body{
    overflow-x: hidden;
}

// Some basics animations
    // Animations
.fade {
    animation: fade 1.7s;
    animation-fill-mode: forwards;
}
@keyframes fade {
    from { opacity:0; }
    to { opacity:1; }
}

.sliderR {
    animation: slide 0.9s;
    animation-fill-mode: forwards;
}
@keyframes slide{
    from { transform: translateX(500px); }
    to { transform: translateX(0px); }
}

.sliderL {
    animation: slider 0.9s;
    animation-fill-mode: forwards;
}
@keyframes slider{
    from { transform: translateX(-500px); }
    50%{opacity: 1;}
    to { transform: translateX(0px); opacity: 1;}
}


@keyframes arrow{
    0%{transform: translateX(12px);}
    50%{transform: translateX(0px);}
    100%{transform: translateX(12px);}
}

@keyframes swing{
    20% {transform: rotate3d(0, 0, 1, 15deg);}
    40% {transform: rotate3d(0, 0, 1, -10deg);}
    60% {transform: rotate3d(0, 0, 1, 5deg);}
    80% {transform: rotate3d(0, 0, 1, -5deg);}
    to  {transform: rotate3d(0, 0, 1, 0deg);}
}

.flip{
    animation-name: flip;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

@keyframes flip{
    from{transform: rotateX(90deg);;}
    to{transform: rotateX(0deg);}
}